@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: rgb(255,255,255);
  --color-text: #000000;
}


* {
  @apply m-0 p-0 box-border;
  scroll-behavior: smooth;
}


body {
  @apply bg-[--color-background] text-[--color-text] text-[15px] font-medium leading-[1.2em];

}


 /* Spinner */
 .loader {
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: black;
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}